$color_1: white;
$color_2: #e9c02d;
$background-color_1: #222934;
$background-color_2: #313a47;
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}
.main {
	.header {
		height: 160px;
		background-color: $background-color_1;
		position: relative;
		.header__img {
			position: relative;
		}
	}
	.header__img {
		.header__img__icon {
			max-height: 65px;
			max-width: 160px;
			position: absolute;
			top: 50px;
			overflow: hidden;
			margin-left: 35px;
			.img {
				width: 100%;
				height: 100%;
			}
		}
	}
}
.flex {
	display: flex;
}
.header {
	.header__img {
		.header__img__share {
			position: absolute;
			top: 60px;
			right: 0%;
			align-items: center;
			justify-content: space-around;
			width: 360px;
		}
	}
	.header__content {
		width: 1200px;
		height: 65px;
		background-color: $background-color_2;
		color: $color_1;
		position: absolute;
		top: 80%;
		left: 4%;
		justify-content: center;
		align-items: center;
		.menu {
			width: 80%;
		}
	}
}
.header__img {
	.header__img__share {
		.imgshare {
			i {
				margin-right: 5px;
				background: #313a47;
				width: 35px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				border-radius: 50%;
				text-align: center;
				margin-left: 5px;
			}
			.img__calendare {
				color: $color_1;
				margin-top: 10px;
				font-size: 14px;
				margin-left: 10px;
			}
		}
	}
}
.header__img__share {
	.img__icon__internet {
		margin-left: 15px;
		.img__icon__cover {
			i {
				margin-right: 5px;
				width: 35px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				text-align: center;
				color: $color_1;
			}
			.hover__icon {
				&:hover {
					color: $color_2;
				}
			}
		}
	}
}
.header__content {
	.menu {
		.menu_menubar {
			display: inline-block;
			a {
				text-decoration: none;
				color: $color_1;
				display: block;
				font-size: 14px;
				margin: 0 20px;
				&:hover {
					color: $color_2;
				}
			}
		}
	}
}
