<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div id="page" class="site ">
        <div class="container">
            <div id="content">
                <div class="col-md-12 col-lg-9 left-layout">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/1.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> The Award Winning Trishal FC Blog and News </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk
                                        is a close-grip, two-move lift. Each weightlifter receives
                                        three attempts in each, and the combined total of the
                                        highest two successful lifts determines the overall result
                                        within a bodyweight category. Bodyweight categories are
                                        different for male and female competitors. A lifter who
                                        fails to&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/2.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Wolves Star Adama Traore Wants Laliga Return </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                                        two-move lift. Each weightlifter receives three attempts in each, and the
                                        combined total of the highest two successful lifts determines the overall
                                        result
                                        within a bodyweight category. Bodyweight categories are different for male
                                        and
                                        female competitors. A lifter who fails to&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/3.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Man United set to bid for Real Madrid Defender Varane </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk
                                        is a close-grip, two-move lift. Each weightlifter receives
                                        three attempts in each, and the combined total of the
                                        highest two successful lifts determines the overall result
                                        within a bodyweight category. Bodyweight categories are
                                        different for male and female competitors. A lifter who
                                        fails to&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/4.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Everything In Soccer Starts Right Here in USA </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                                        two-move lift. Each weightlifter receives three attempts in each, and the
                                        combined total of the highest two successful lifts determines the overall
                                        result
                                        within a bodyweight category. Bodyweight categories are different for male
                                        and
                                        female competitors. A lifter who fails to…&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/5.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Southampton Midfielder Oriol Romeu Signs New Deal </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk
                                        is a close-grip, two-move lift. Each weightlifter receives
                                        three attempts in each, and the combined total of the
                                        highest two successful lifts determines the overall result
                                        within a bodyweight category. Bodyweight categories are
                                        different for male and female competitors. A lifter who
                                        fails to&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/6.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Daniel James Speaks Out on His Manchester United </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                                        two-move lift. Each weightlifter receives three attempts in each, and the
                                        combined total of the highest two successful lifts determines the overall
                                        result
                                        within a bodyweight category. Bodyweight categories are different for male
                                        and
                                        female competitors. A lifter who fails to…&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/7.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">25</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Ground Round Meatball Starts Right Here </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk
                                        is a close-grip, two-move lift. Each weightlifter receives
                                        three attempts in each, and the combined total of the
                                        highest two successful lifts determines the overall result
                                        within a bodyweight category. Bodyweight categories are
                                        different for male and female competitors. A lifter who
                                        fails to&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/8.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">07</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> City Tops Chelsea in Community Shield Here </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                                        two-move lift. Each weightlifter receives three attempts in each, and the
                                        combined total of the highest two successful lifts determines the overall
                                        result
                                        within a bodyweight category. Bodyweight categories are different for male
                                        and
                                        female competitors. A lifter who fails to…&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-xs-12 blog-content">
                            <div class="blog-img">
                                <a> <img width="833" height="474" src="/img/9.jpg" />
                                </a>
                                <div class="blog-img-content">

                                    <div class="meta meta-date">
                                        <span class="month-day">07</span>
                                        <span class="month-name">Nov</span>
                                    </div>

                                    <div class="author meta">
                                        <i class="fa fa-user-o" aria-hidden="true"></i> admin
                                    </div>

                                    <div class="meta">
                                        <div class="category-name">
                                            <i class="fa fa-folder-o" aria-hidden="true"></i>
                                            <a rel="category tag">Champions League</a>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="full-blog-content">
                                <div class="title-wrap">
                                    <h3 class="blog-title">
                                        <a href="#"> Everything In Soccer Starts Right Here in USA </a>
                                    </h3>
                                </div>

                                <div class="blog-desc">
                                    <p>The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip,
                                        two-move lift. Each weightlifter receives three attempts in each, and the
                                        combined total of the highest two successful lifts determines the overall
                                        result
                                        within a bodyweight category. Bodyweight categories are different for male
                                        and
                                        female competitors. A lifter who fails to…&#8230;</p>

                                </div>

                                <div class="blog-button ">
                                    <a href="#"> Continue Reading <i class="fa fa-long-arrow-right"
                                            aria-hidden="true"></i></a>

                                </div>
                            </div>
                        </div>

                        <div class="pagination">
                            <div class="nav-links">
                                <span aria-current="page" class="page-numbers current">1</span>
                                <a class="page-numbers" href="#">2</a>
                                <a class="next page-numbers" href="#">Next</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-3 right-layout">

                    <div class="bs-sidebar">

                        <form role="search" class="bs-search search-form">
                            <div class="search-wrap">
                                <input type="search" placeholder="Search..." name="s" class="search-input" value="" />
                                <button type="submit" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </form>

                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="line"></div>
                        <ul class="first">
                            <li>
                                <a href="#">The Award Winning Trishal FC Blog and News</a>
                            </li>
                            <li>
                                <a href="#">Wolves Star Adama Traore Wants Laliga Return</a>
                            </li>
                            <li>
                                <a href="#">Man  United set to bid for Real Madrid Defender Varane</a>
                            </li>
                            <li>
                                <a href="#">Everything In Soccer Starts Right Here in USA</a>
                            </li>
                            <li>
                                <a href="#">Southampton Midfielder Oriol Romeu Signs New Deal</a>
                            </li>
                        </ul>



                        <h2 class="widget-title">Recent Comments</h2>
                        <div class="line"></div>
                        <ul id="recentcomments">
                            <li class="recentcomments"><span class="comment-author-link"><a>A WordPress
                                        Commenter</a></span> on <a href="#">City Tops Chelsea in Community Shield</a>
                            </li>
                        </ul>

                        <h2 class="widget-title">Archives</h2>
                        <div class="line"></div>
                        <ul>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href='#'> November 2020</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href='#'> November 2019</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href='#'> May 2019</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i><a href='#'> April 2019</a></li>
                        </ul>

                        <h2 class="widget-title">Categories</h2>
                        <div class="line"></div>
                        <ul>
                            <li ><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#"> Champions League</a></li>
                            <li ><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#"> Kids</a></li>
                            <li ><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#"> Latest News</a></li>
                            <li ><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#"> Premier League</a></li>
                            <li ><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#"> Sports</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>