<aside class="col160 fl">
    <br>
    <section class="box160 pkg mar_bottom20" data-vr-zone="Category Page_Tin nóng">
        <div class="head_news"><a href="#">Tin nónghiéu</a></div>
        <ul class="list_news_160">
            <li>
                <a href="#"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="#"><img class=""
                        src="/assets/img/aaa-1035.jpg"
                        width="160" height="100"
                        alt="Tức tốc ký tân binh thứ 5, M.U sẵn sàng nổ bom tấn 51 triệu bảng" /></a>
                <h2><a data-vr-contentbox="top_title"
                        href="#"
                        class="f14" title="Tức tốc ký tân binh thứ 5, M.U sẵn sàng nổ bom tấn 51 triệu bảng">Tức tốc ký
                        tân binh thứ 5, M.U sẵn sàng nổ bom tấn 51 triệu bảng</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 1_title"
                        href="https://www.bongda.com.vn/doi-tac-cho-mu-gui-de-nghi-100-trieu-euro-d650301.html"
                        class="f14" title="Đối tác chờ M.U gửi đề nghị 100 triệu euro">Đối tác chờ M.U gửi đề nghị 100
                        triệu euro</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 2_title"
                        href="https://www.bongda.com.vn/casemiro-tac-dong-den-ronaldo-d650312.html" class="f14"
                        title="Casemiro tác động đến Ronaldo">Casemiro tác động đến Ronaldo</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 3_title"
                        href="https://www.bongda.com.vn/ho-biet-rang-mu-se-tro-lai-voi-mot-muc-gia-khong-lo-khac-d650310.html"
                        class="f14" title="'Họ biết rằng M.U sẽ trở lại với một mức giá khổng lồ khác'">"Họ biết rằng
                        M.U sẽ trở lại với một mức giá khổng lồ khác"</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 4_title"
                        href="https://www.bongda.com.vn/doi-tac-bao-gia-42-trieu-euro-cho-barca-d650309.html"
                        class="f14" title="Đối tác báo giá 42 triệu euro cho Barca">Đối tác báo giá 42 triệu euro cho
                        Barca</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 5_title"
                        href="https://www.bongda.com.vn/nha-glazer-huong-loi-tu-thong-bao-muon-mua-mu-cua-doi-tac-d650304.html"
                        class="f14" title="Nhà Glazer hưởng lợi từ thông báo muốn mua M.U của đối tác">Nhà Glazer hưởng
                        lợi từ thông báo muốn mua M.U của đối tác</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 6_title"
                        href="https://www.bongda.com.vn/mu-dua-ra-de-nghi-khien-doi-tac-lung-lay-vu-antony-trong-it-gio-toi-d650313.html"
                        class="f14" title="M.U đưa ra đề nghị khiến đối tác lung lay vụ Antony trong ít giờ tới">M.U đưa
                        ra đề nghị khiến đối tác lung lay vụ Antony trong ít giờ tới</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 7_title"
                        href="https://www.bongda.com.vn/mu-gay-suc-ep-len-de-gea-d650303.html" class="f14"
                        title="MU gây sức ép lên De Gea">MU gây sức ép lên De Gea</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 8_title"
                        href="https://www.bongda.com.vn/dean-jones-sieu-bom-soan-xong-hanh-ly-den-chelsea-d650287.html"
                        class="f14" title="Dean Jones: 'Siêu bom' soạn xong hành lý đến Chelsea">Dean Jones: "Siêu bom"
                        soạn xong hành lý đến Chelsea</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 9_title"
                        href="https://www.bongda.com.vn/cau-ay-khong-phu-hop-voi-loi-choi-cua-ten-hag-d650289.html"
                        class="f14" title="'Cậu ấy không phù hợp với lối chơi của Ten Hag'">"Cậu ấy không phù hợp với
                        lối chơi của Ten Hag"</a></h2>
            </li>
            <li>
                <h2><a data-vr-contentbox="position 10_title"
                        href="https://www.bongda.com.vn/ramsdale-noi-ve-su-dien-ro-o-arsenal-d650293.html" class="f14"
                        title="Ramsdale nói về sự điên rồ ở Arsenal">Ramsdale nói về sự điên rồ ở Arsenal</a></h2>
            </li>
        </ul>
    </section>
    <div class="adv" id="ads_16" style="margin-top:8px;margin-bottom:12px;width:160px;height:600px;">
        <div class="e" style="">
            <!-- /51489806/Bongda_PC_BG1 -->
            <div id='div-gpt-ad-1491988003800-0' style='height:600px; width:160px;'>
                <script>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1491988003800-0'); });
                </script>
            </div>
        </div>
    </div>
    <section class="box160 pkg mar_bottom20">
        <div class="head_news"><a onclick="return false">Tiêu điểm</a></div>
        <ul class="list_news_160 list_trend">
            <li>
                <a href="https://www.bongda.com.vn/real-madrid-da-dung-khi-ban-casemiro-cho-mu-d650292.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="Real Madrid đã đúng khi bán Casemiro cho M.U"><img class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/real-madrid-da-dung-khi-ban-casemiro-cho-mu-115059.jpg"
                        width="160" height="100" alt="Real Madrid đã đúng khi bán Casemiro cho M.U" /></a>
                <h2><a href="https://www.bongda.com.vn/real-madrid-da-dung-khi-ban-casemiro-cho-mu-d650292.html"
                        class="f14" title="Real Madrid đã đúng khi bán Casemiro cho M.U"><span data-vr-headline>Real
                            Madrid đã đúng khi bán Casemiro cho M.U</span></a></h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/man-utd-gay-nao-loan-thi-truong-chuyen-nhuong-d650300.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="Man Utd gây náo loạn thị trường chuyển nhượng"><img class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/man-utd-gay-nao-loan-thi-truong-chuyen-nhuong-133245.png"
                        width="160" height="100" alt="Man Utd gây náo loạn thị trường chuyển nhượng" /></a>
                <h2><a href="https://www.bongda.com.vn/man-utd-gay-nao-loan-thi-truong-chuyen-nhuong-d650300.html"
                        class="f14" title="Man Utd gây náo loạn thị trường chuyển nhượng"><span data-vr-headline>Man Utd
                            gây náo loạn thị trường chuyển nhượng</span></a></h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/khoanh-khac-real-co-mot-usain-bolt-d650311.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10" title="Khoảnh khắc Real có một Usain Bolt"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/khoanh-khac-real-co-mot-usain-bolt-161810.jpg"
                        width="160" height="100" alt="Khoảnh khắc Real có một Usain Bolt" /></a>
                <h2><a href="https://www.bongda.com.vn/khoanh-khac-real-co-mot-usain-bolt-d650311.html" class="f14"
                        title="Khoảnh khắc Real có một Usain Bolt"><span data-vr-headline>Khoảnh khắc Real có một Usain
                            Bolt</span></a></h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/ferdinand-xau-ho-vi-odegaard-d650284.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10" title="Ferdinand xấu hổ vì Odegaard"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/ferdinand-xau-ho-vi-odegaard-122100.png"
                        width="160" height="100" alt="Ferdinand xấu hổ vì Odegaard" /></a>
                <h2><a href="https://www.bongda.com.vn/ferdinand-xau-ho-vi-odegaard-d650284.html" class="f14"
                        title="Ferdinand xấu hổ vì Odegaard"><span data-vr-headline>Ferdinand xấu hổ vì
                            Odegaard</span></a></h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/phat-kien-moi-cua-arteta-huy-diet-hanh-lang-trai-bournemouth-d650298.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="Phát kiến mới của Arteta hủy diệt hành lang trái Bournemouth"><img class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/phat-kien-moi-cua-arteta-huy-diet-hanh-lang-trai-bournemouth-132601.png"
                        width="160" height="100"
                        alt="Phát kiến mới của Arteta hủy diệt hành lang trái Bournemouth" /></a>
                <h2><a href="https://www.bongda.com.vn/phat-kien-moi-cua-arteta-huy-diet-hanh-lang-trai-bournemouth-d650298.html"
                        class="f14" title="Phát kiến mới của Arteta hủy diệt hành lang trái Bournemouth"><span
                            data-vr-headline>Phát kiến mới của Arteta hủy diệt hành lang trái Bournemouth</span></a>
                </h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/5-ngoi-sao-real-dang-bi-carlo-ancelotti-loai-bo-d650269.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="5 ngôi sao Real đang bị Carlo Ancelotti loại bỏ"><img class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/phi.do/2022/07/13/ancelotti-1812.jpg"
                        width="160" height="100" alt="5 ngôi sao Real đang bị Carlo Ancelotti loại bỏ" /></a>
                <h2><a href="https://www.bongda.com.vn/5-ngoi-sao-real-dang-bi-carlo-ancelotti-loai-bo-d650269.html"
                        class="f14" title="5 ngôi sao Real đang bị Carlo Ancelotti loại bỏ"><span data-vr-headline>5
                            ngôi sao Real đang bị Carlo Ancelotti loại bỏ</span></a></h2>
            </li>
            <li>
                <a href="https://www.bongda.com.vn/chelsea-mua-maguire-bien-dieu-uoc-cua-lukaku-thanh-su-that-d650296.html"
                    class="thumbblock thumb160x100 mar-1 mar_bottom10"
                    title="Chelsea mua Maguire biến điều ước của Lukaku thành sự thật"><img class=""
                        src="https://media.bongda.com.vn/resize/160x100/files/news/2022/08/21/chelsea-mua-maguire-giup-dieu-uoc-cua-lukaku-thanh-su-that-131118.jpg"
                        width="160" height="100" alt="Chelsea mua Maguire biến điều ước của Lukaku thành sự thật" /></a>
                <h2><a href="https://www.bongda.com.vn/chelsea-mua-maguire-bien-dieu-uoc-cua-lukaku-thanh-su-that-d650296.html"
                        class="f14" title="Chelsea mua Maguire biến điều ước của Lukaku thành sự thật"><span
                            data-vr-headline>Chelsea mua Maguire biến điều ước của Lukaku thành sự thật</span></a></h2>
            </li>
        </ul>
    </section>
    <div class="adv" id="ads_15" style="margin-top:0px;margin-bottom:0px;width:160px;height:600px;">
        <div class="e" style="">
            <!-- /51489806/Bongda_PC_BG2 -->
            <div id='div-gpt-ad-1538538311562-0' style='height:600px; width:160px;'>
                <script>
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1538538311562-0'); });
                </script>
            </div>
        </div>
    </div>
</aside>