$primary-color: #EA0000;
$secondary-color: #FBC02D;
$text-primary-color: black;
$text-secondary-color: #555555;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: UTMhel, Arial, Helvetica, sans-serif;
}

#home-page {
    background-color: #F2F2F2;
}

li {
    list-style-type: none;
}

div.title-type-news {
    padding: 6px 0;
    border-top: 3px solid #ea0000;
    a {
        font-size: 16px;
        color: $primary-color;
        font-weight: bold;
        text-transform: uppercase;
    }
}


.container {
    width: 1190px;
    margin: 0 auto;
}

@media screen and (max-width: 1366px){
    .container {
        width: 1060px;
    }
}

@media screen and (max-width: 1336px){
    .container {
        width: 1190px;
    }  
}

@media screen and (max-width: 1190px){
    .container {
        width: 1000px;
    }
}

@media screen and (max-width: 1023px){
    .container {
        width: 768px;
    }
}

#home-main {
    background-color: #ffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    #home-main-left {
        flex: 0 0 72%;
        padding-right: 20px;
        > div:first-child {
            display: flex;
            justify-content: space-between;
            #hot-news-list {
                flex: 0 0 35%;
                padding-right: 20px;
                > ul {
                    border: 1px solid #ddd;
                    > li:not(:last-child) {
                        border-bottom: 1px solid #ddd;
                    }
                    > li {
                        padding: 15px 10px;
                        > a {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: normal;
                            color: black;
                            &:hover {
                                color: #EA0000;
                            }
                        }
                        &:nth-child(even) {
                            background-color: #F0F0F0;
                        }
                    }
                }
            }
            .home-news {
                flex: 0 0 65%;
                a.main-img-link {
                    width: 100%;
                    height: 300px;
                    display: block;
                    overflow: hidden;
                    margin-bottom: 15px;
                    > img {
                        width: 100%;
                        object-fit: cover;
                    }
                }

                .title-main {
                    margin-bottom: 10px;
                    display: block;
                    h1 {
                        display: inline-block;
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 600;
                        color: black;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                    
                }

                > p {
                    border-bottom: 1px solid #ccc;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                    color: black;
                }
                > ul.home-news-related {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    > li {
                        flex: 0 0 31.3333%;
                        > a:first-child {
                            display: block;
                            overflow: hidden;
                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                        .title_list_top_news {
                            font-size: 14px;
                            margin-bottom: 16px;
                            margin-top: 7px;
                            color: black;
                            display: block;
                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }
            }

            
        }
        #lastest-news {
            margin-top: 28px;
            ul.list-lastest-news {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                > li {
                    flex: 0 0 49%;
                    padding-bottom: 24px;
                    margin-bottom: 7px;
                    border-bottom: 1px solid #e6e6e6;
                    display: flex;
                    a {
                        display: block;
                        justify-content: space-between;
                    }
                    > a:first-child {
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                        flex: 0 0 25%;
                    }

                    > a:last-child {
                        flex: 0 0 75%;
                        padding-left: 15px;
                        color: #333;
                        line-height: 18px;
                        font-size: 14px;
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
        
                > li:last-child ,
                > li:nth-last-child(2) {
                    border-bottom: none !important;
                }
            }
        }
        .pkg {
            display: flex;
            justify-content: space-between;
            margin-bottom: 18px;
            > div {
                flex: 0 0 49%;
                div.pkg-content {
                    a {
                        display: block;
                    }
                    > a:first-child {
                        height: 240px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    
                    > a:nth-child(2){
                        padding: 12px 0;
                        font-size: 20px;
                        line-height: 24px;
                        color: #333;
                        min-height: 72px;
                        &:hover {
                            color: $primary-color;
                        }
                    }

                    hr {
                        margin: 12px 0;
                    }
                    
                    > ul {
                        > li {
                            background: url(https://www.bongda.com.vn/templates/themes/images/icon_dot_red.png) top 12px left 0 no-repeat;
                            min-height: 60px;
                            background-size: 5px 5px;
                            padding-left: 16px; 
                            padding-bottom: 7px;
                            margin-bottom: 7px;
                            a {
                                color: black;
                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                        > li:not(:last-child){
                            border-bottom: 1px solid #e6e6e6;
                        }
                    }
                }

            }
        }
        #videos {
            .videos-content {
                display: flex;
                justify-content: space-between;
                margin: 0 -8px;
                a {
                    display: block;
                    flex: 0 0 50%;
                    padding: 0 8px;
                    position: relative;
                    max-height: 300px;
                    overflow: hidden;
                    h2 {
                        background: #333;
                        font-size: 20px;
                        color: #fff;
                        padding: 10px;
                        position: absolute;
                        bottom: 20px;
                        left: 8px;
                        right: 8px;
                    }
                    img {
                        width: 100%;
                    }
                }
                ul {
                    flex: 0 0 50%;
                    padding: 0 8px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;
                    
                    > li {
                        flex: 0 0 50%;
                        a {
                            height: 140px;
                            overflow: hidden;
                            position: relative;
                            h3 {
                                position: absolute;
                                font-size: 14px;
                                color: #fff;
                                left: 0;
                                z-index: 2;
                                padding: 11px;
                                bottom: 20px;
                                left: 11px;
                                right: 11px;
                            }
                        
                            img {
                                width: 100%;
                                height: auto;
                                filter: brightness(75%)
                            }
                        }
                    }
                }
            }
        }
    }

    #home-main-right {
        flex: 0 0 28%;
        > div.list-most-news-read {
            div.most-read-content {
                background-color: #F2F2F2;
                a{
                    display: block;
                }
                > a:first-child {
                    display: block;
                    height: 180px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                > a:nth-child(2) {
                    font-size: 16px;
                    line-height: 21px;
                    font-weight: 700;
                    color: #333;
                    margin: 10px 12px 15px;
                }

                > ul {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    > li {
                        flex: 0 0 50%;
                        padding: 0 5px 15px;
                        > a:first-child {
                            height: 90px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                object-fit: cover;
                            }   
                        }
                        > a:last-child {
                            font-size: 13px;
                            line-height: 18px;
                            color: #333;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}











