<div id="home-page">
    <div id="home-main" class="container">
        <div id="home-main-left">
           <div>
                <div id="hot-news-list">
                    <div class="title-type-news"><a href="#">Tin nóng</a></div>
                    <ul>
                        <li *ngFor="let trangChuNewsItem of trangChuResult.slice(9,20)">
                            <a href="#">{{trangChuNewsItem.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="home-news">
                    <ng-container *ngFor="let trangChuNewsItem of trangChuResult.slice(0,1)">
                        <a class="main-img-link" href="#">
                            <img src="{{trangChuNewsItem.image}}" alt="">
                        </a>
                        <a class="title-main" href="#"><h1>{{trangChuNewsItem.title}}</h1></a>
                        <p>{{trangChuNewsItem.description}}</p>
                    </ng-container>
                    <ul class="home-news-related">
                        <li *ngFor="let trangChuNewsItem of trangChuResult.slice(1,7)">
                            <a href="news-related">
                                <img src="{{trangChuNewsItem.image}}" alt="">
                            </a>
                            <a class="title_list_top_news" href="">{{trangChuNewsItem.title}}</a>
                        </li>
                    </ul>
                </div>
           </div>
           <div id="lastest-news">
                <div class="title-type-news"><a href="#">Tin mới nhất</a></div>
                <ul class="list-lastest-news">
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                    <li>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/5-diem-nhan-leeds--chelsea-de-gea-20-tan-binh-hit-khoi-225251.jpg" alt="">
                        </a>
                        <a href="">5 điểm nhấn Leeds - Chelsea: 'De Gea 2.0'; Ngã mũ trước sát thủ</a>
                    </li>
                </ul>
           </div>
           <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
           </div>
           <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
           </div>
            <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
            </div>
            <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
            </div>
            <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
            </div>
            <div class="box-left-home">
                <app-box-news-home></app-box-news-home>
            </div>
            <div class="pkg">
                <div>
                    <div class="title-type-news"><a href="#">europa league</a></div>
                    <div>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/343x220/files/phi.do/2022/08/03/ten-hag-1215.jpeg" alt="">
                        </a>
                        <a href="">Hành trình chinh phục Europa League của Man Utd được ấn định</a>
                        <ul>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="title-type-news"><a href="#">Tin nóng</a></div>
                    <div>
                        <a href="">
                            <img src="https://media.bongda.com.vn/resize/343x220/files/phi.do/2022/08/03/ten-hag-1215.jpeg" alt="">
                        </a>
                        <a href="">Hành trình chinh phục Europa League của Man Utd được ấn định</a>
                        <ul>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                            <li><a href="">Eintracht Frankfurt tái lập kỳ tích của Chelsea khi vô địch Europa League</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </div>
        <div id="home-main-right">
            
        </div>
    </div>
</div>
