
<div class="entry-content">
    <div class="entry-banners">
        <div class="entry-banner banner1">
            <div class="bl-meta">
                <a href="" class="category">BLOG</a>
                <div class="date-author">
                    <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                    <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>    
                </div>
                </div>
                <h1><a href="">GROUND ROUND MEATBALL STARTS RIGHT HERE</a></h1>
        </div>
        <div class="entry-banner banner2">
            <div class="bl-meta">
                <a href="" class="category">BLOG</a>
                <div class="date-author">
                    <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                    <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>
                </div>
            </div>
            <h1><a href="">GROUND ROUND MEATBALL STARTS RIGHT HERE</a></h1>
        </div>
        <div class="entry-banner banner3">
            <div class="bl-meta">
                <a href="" class="category">BLOG</a>
                <div class="date-author">
                    <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                    <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>
                </div>
            </div>
            <h1><a href="">GROUND ROUND MEATBALL STARTS RIGHT HERE</a></h1>
        </div>
    </div>
    <div class="item-thumb container">
        <div class="thumb">
            <div class="date-author">
                <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>
            </div>
            <a href="" class="thumb-title">Ground Round Meatball Starts Right Here</a>
        </div>
        <div class="thumb">
            <div class="date-author">
                <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>
            </div>
            <a href="" class="thumb-title">City Tops Chelsea in Community Shield Here</a>
        </div>
        <div class="thumb">
            <div class="date-author">
                <span class="post-date"><i class="fa-solid fa-calendar-check"></i>November 7,2019</span>
                <span class="post-author"><i class="fa-solid fa-user"></i>admin</span>
            </div>
            <a href="" class="thumb-title">Everything In Soccer Starts Right Here In USA</a>
        </div>
    </div>
</div>
<div class="result-table container">
    <div class="matches">
        <div class="match">
            <div class="match-day">April 09,2019</div>
            <a href="">
                <div>
                    <img src="../../../assets/img/1.png" alt="">
                    <div>Real Madrid</div> 
                </div>
                <div class="score">3-2</div>
                <div>
                    <img src="../../../assets/img/2.png" alt="">
                    <div>Liverpool</div> 
                </div>
            </a>
            <div class="address-match">Central Olympic Stadium</div>
        </div>
        <div class="match">
            <div class="match-day">April 09,2019</div>
            <a href="">
                <div>
                    <img width="200" height="212" src="../../../assets/img/3.png" alt="">
                    <div>Real Madrid</div> 
                </div>
                <div class="score">3-2</div>
                <div>
                    <img width="200" height="212" src="../../../assets/img/4.png" alt="">
                    <div>Liverpool</div> 
                </div>
            </a>
            <div class="address-match">Central Olympic Stadium</div>
        </div>
        <div class="match">
            <div class="match-day">April 09,2019</div>
            <a href="">
                <div>
                    <img width="200" height="212" src="../../../assets/img/5.png" alt="">
                    <div>Real Madrid</div> 
                </div>
                <div class="score">3-2</div>
                <div>
                    <img width="200" height="212" src="../../../assets/img/6.png" alt="">
                    <div>Liverpool</div> 
                </div>
            </a>
            <div class="address-match">Central Olympic Stadium</div>
        </div>
        <div class="match">
            <div class="match-day">April 09,2019</div>
            <a href="">
                <div>
                    <img src="../../../assets/img/7.png" alt="">
                    <div>Real Madrid</div> 
                </div>
                <div class="score">3-2</div>
                <div>
                    <img src="../../../assets/img/8.png" alt="">
                    <div>Liverpool</div> 
                </div>
            </a>
            <div class="address-match">Central Olympic Stadium</div>
        </div>
    </div>
    <div class="prev-match">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </div>
    <div class="next-match">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
</div>

<div class="featured-news container">
    <div class="heading-background">
        <div class="title">Featured News</div>
        <div>
            <div class="default-btn">
                <button class="active">All Post</button>
                <button>Latest News</button>
                <button>Sports</button>
            </div>
        </div>
        
    </div>
    <ul>
        <li> 
            <div>
                <div class="featured-inner-content">
                    <div class="featured-post-img">
                        <a>
                            <img src="https://rstheme.com/products/wordpress/khelo/wp-content/uploads/2019/05/post_5-600x625.jpg" alt="Latest Point Table For The Premier League">
                        </a>
                    </div>
                    <div class="featured-content-item">
                        <span class="featured-category">latest-news</span>
                        <span class="post-dates">
                            <i class="fa-solid fa-calendar-days"></i> May 25, 2019
                        </span>
                        <span>
                            <i class="fa-solid fa-user"></i> admin
                        </span>
                        <a>
                            <h3>Latest Point Table For The Premier League</h3>
                        </a>
                        <p>	The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each weightlifter receives...</p>
                    </div>
                </div>
            </div>
        </li>
        <li> 
            <div>
                <div class="featured-inner-content">
                    <div class="featured-post-img">
                        <a>
                            <img src="https://rstheme.com/products/wordpress/khelo/wp-content/uploads/2019/05/post_5-600x625.jpg" alt="Latest Point Table For The Premier League">
                        </a>
                    </div>
                    <div class="featured-content-item">
                        <span class="featured-category">latest-news</span>
                        <span class="post-dates">
                            <i class="fa-solid fa-calendar-days"></i> May 25, 2019
                        </span>
                        <span>
                            <i class="fa-solid fa-user"></i> admin
                        </span>
                        <a>
                            <h3>Everything In Soccer Starts The Premier League</h3>
                        </a>
                        <p>	The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each weightlifter receives...</p>
                    </div>
                </div>
            </div>
        </li>
        <li> 
            <div>
                <div class="featured-inner-content">
                    <div class="featured-content-item pdr30">
                        <span class="featured-category">latest-news</span>
                        <span class="post-dates">
                            <i class="fa-solid fa-calendar-days"></i> May 25, 2019
                        </span>
                        <span>
                            <i class="fa-solid fa-user"></i> admin
                        </span>
                        <a>
                            <h3>City Tops Chelsea in Community Shield Here</h3>
                        </a>
                        <p>	The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each weightlifter receives...</p>
                    </div>
                    <div class="featured-post-img">
                        <a>
                            <img src="https://rstheme.com/products/wordpress/khelo/wp-content/uploads/2019/05/post_5-600x625.jpg" alt="Latest Point Table For The Premier League">
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li> 
            <div>
                <div class="featured-inner-content">
                    <div class="featured-content-item pdr30">
                        <span class="featured-category">latest-news</span>
                        <span class="post-dates">
                            <i class="fa-solid fa-calendar-days"></i> May 25, 2019
                        </span>
                        <span>
                            <i class="fa-solid fa-user"></i> admin
                        </span>
                        <a>
                            <h3>Ground Round Meatball  Starts Right Here</h3>
                        </a>
                        <p>	The snatch is a wide-grip, one-move lift. The clean and jerk is a close-grip, two-move lift. Each weightlifter receives...</p>
                    </div>
                    <div class="featured-post-img">
                        <a>
                            <img src="https://rstheme.com/products/wordpress/khelo/wp-content/uploads/2019/05/post_5-600x625.jpg" alt="Latest Point Table For The Premier League">
                        </a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

