<div id="home-page">
    <div id="home-main" class="container">
        <div id="home-main-left">
           <div>
                <div id="hot-news-list">
                    <div class="title-type-news"><a href="#">Tin nóng</a></div>
                    <ul>
                        <li *ngFor="let trangChuNewsItem of trangChuResult.slice(9,20)">
                            <a href="#">{{trangChuNewsItem.title}}</a>
                        </li>
                    </ul>
                </div>
                <div class="home-news">
                    <ng-container *ngFor="let trangChuNewsItem of trangChuResult.slice(0,1)">
                        <a class="main-img-link" href="#">
                            <img src="{{trangChuNewsItem.image}}" alt="">
                        </a>
                        <a class="title-main" href="#"><h1>{{trangChuNewsItem.title}}</h1></a>
                        <p>{{trangChuNewsItem.description}}</p>
                    </ng-container>
                    <ul class="home-news-related">
                        <li *ngFor="let trangChuNewsItem of trangChuResult.slice(1,7)">
                            <a href="news-related">
                                <img src="{{trangChuNewsItem.image}}" alt="">
                            </a>
                            <a class="title_list_top_news" href="">{{trangChuNewsItem.title}}</a>
                        </li>
                    </ul>
                </div>
           </div>
        </div>
        <div id="home-main-right">
            àda
        </div>
    </div>
</div>
