<header>
    <ul class="menu_left_mobile" [class.menu_left_mobile_active]="showMenuLeft">
        <li><a href="/">Trang chủ</a></li>
        <li><a href="#">Đăng nhập</a></li>
        <li><a href="#">Đăng ký</a></li>
        <li><a href="#"> MỚI NHẤT</a></li>
        <li class="">
            <a href="#">
                Tin Chuyển Nhượng </a>
        </li>
        <li class="">
            <a href="#">
                Bóng Đá Anh </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Premier League </a>
                </li>
                <li>
                    <a href="#">
                        FA Cup </a>
                </li>
                <li>
                    <a href="#">
                        EFL Cup </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Bóng đá Tây Ban Nha </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        La Liga </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Bóng đá Ý </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Serie A </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Bóng Đá Đức </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Bundesliga </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Bóng đá Pháp </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Ligue 1 </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Champions League </a>
        </li>
        <li class="">
            <a href="#">
                Bóng đá Việt Nam </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Các ĐTQG </a>
                </li>
                <li>
                    <a href="#">
                        V-League </a>
                </li>
                <li>
                    <a href="#">
                        Cúp Quốc Gia </a>
                </li>
                <li>
                    <a href="#">
                        Hạng Nhất </a>
                </li>
                <li>
                    <a href="#">
                        Giải Trẻ </a>
                </li>
                <li>
                    <a href="#">
                        Bóng Đá Nữ </a>
                </li>
                <li>
                    <a href="#">
                        VFF </a>
                </li>
                <li>
                    <a href="#">
                        Tin Khác </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Hậu trường </a>
        </li>
        <li class="">
            <a href="#">
                Video </a>
        </li>
        <li class="">
            <a href="#">
                Europa League </a>
        </li>
        <li class="">
            <a href="#">
                AFF CUP </a>
        </li>
        <li class="">
            <a href="#">
                World Cup </a>
        </li>
        <li class="">
            <a href="#">
                Copa America </a>
        </li>
        <li class="">
            <a href="#">
                Olympics </a>
        </li>
        <li class="">
            <a href="#">
                Nations League </a>
        </li>
        <li class="">
            <a href="#">
                Asian Cup </a>
        </li>
        <li class="">
            <a href="#">
                EURO </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        LỊCH THI ĐẤU </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                SEA Games </a>
            <ul class="sub_menu_mobile">
                <li>
                    <a href="#">
                        Bóng đá Nam </a>
                </li>
                <li>
                    <a href="#">
                        Bóng đá Nữ </a>
                </li>
                <li>
                    <a href="#">
                        Futsal </a>
                </li>
            </ul>
        </li>
        <li class="">
            <a href="#">
                Bóng Đá Châu Âu </a>
        </li>
        <li class="">
            <a href="#">
                Bóng Đá Châu Á </a>
        </li>
        <li class="">
            <a href="#">
                Bóng Đá Châu Mỹ </a>
        </li>
        <li class="">
            <a href="#">
                Bóng đá Châu Phi </a>
        </li>
        <li class="">
            <a href="#">
                Giao hữu </a>
        </li>
        <li class="">
            <a href="#">
                Góc bạn đọc </a>
        </li>
    </ul>
    <div class="pkg">
        <nav class="navigation">
            <div class="grid1190 pkg">

                <div class="button_menu_mobile fl" (click)="openMenuLeft()"
                    [class.button_menu_mobile_active]="showMenuLeft">
                    <div class="open"> <span class="cls"></span> <span> </span> <span class="cls"></span></div>
                </div>

                <a href="/" class="logo fl"> <img src="/assets/img/logo_black.png" /></a>
                <div class="fr">
                    <div class="search_main">
                        <a class="btn_search" (click)="openSearch()" [class.btn_search_active]="showSearch"><i
                                class="fa fa-search"></i></a>
                        <form action="#" method="#" class="box_search_main" id="searchform"
                            [class.box_search_active]="showSearch">
                            <div>
                                <input name="search" type="text" height="20" class="txt_search_main"
                                    placeholder="Nhập từ khóa cần tìm" />
                                <input type="submit" value="tìm kiếm" class="btn_search_main" />
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="menu_main fr">
                    <li><a href="/" class="icon_home"> <i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="#"> MỚI NHẤT</a></li>
                    <li class="0   ">
                        <a href="#"> Chuyển nhượng </a>
                    </li>
                    <li class="1   ">
                        <a href="#"> Anh </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    Premier League </a>
                            </li>
                            <li>
                                <a href="#">
                                    FA Cup </a>
                            </li>
                            <li>
                                <a href="#">
                                    EFL Cup </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="2   ">
                        <a href="#"> TBN </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    La Liga </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="3   ">
                        <a href="#"> Ý </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    Serie A </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="4   ">
                        <a href="#"> Đức </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    Bundesliga </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="5   ">
                        <a href="#"> Pháp </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    Ligue 1 </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="6   ">
                        <a href="#"> Champions League </a>
                    </li>
                    <li class="7   ">
                        <a href="#"> Việt Nam </a>
                        <ul class="sub_menu_main">
                            <li>
                                <a href="#">
                                    Các ĐTQG </a>
                            </li>
                            <li>
                                <a href="#">
                                    V-League </a>
                            </li>
                            <li>
                                <a href="#">
                                    Cúp Quốc Gia </a>
                            </li>
                            <li>
                                <a href="#">
                                    Hạng Nhất </a>
                            </li>
                            <li>
                                <a href="#">
                                    Giải Trẻ </a>
                            </li>
                            <li>
                                <a href="#">
                                    Bóng Đá Nữ </a>
                            </li>
                            <li>
                                <a href="#">
                                    VFF </a>
                            </li>
                            <li>
                                <a href="#">
                                    Tin Khác </a>
                            </li>
                        </ul>
                    </li>
                    <li class="8   ">
                        <a href="#"> Hậu trường </a>
                    </li>
                    <li class="9  menu_full">
                        <a href="#"> Video </a>
                    </li>
                    <li class="user" style="width: 60px; text-align: center; display:none;">
                        <a href="#"> <i class="fa-solid fa-user"></i> </a>
                        <ul class="sub_menu_main">
                            <li style="text-align: left;">
                                <a href="#">
                                    Đăng nhập</a>
                            </li>
                            <li style="text-align: left;">
                                <a href="#">
                                    Đăng ký </a>
                            </li>
                        </ul>
                    </li>
                    <li class="avt">
                        <div class="main_avt">
                            <img src="../assets/img/avt.png">
                            <ul class="sub_menu_main menu_avt">
                                <li>
                                    <a href="#">
                                        Đăng nhập</a>
                                </li>
                                <li class="btn_logout" >
                                    
                                    <a href="#">
                                        Đăng xuất </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
            </div>
        </nav>
        <div class="top_bar">
            <div class="grid1190 pkg">
                <div class="notify_site fl"> <strong class="fl">MỚI NHẤT :</strong>
                    <div class="list_notify fl">
                        <marquee onmouseover="this.stop()" onmouseout="this.start()">
                            <a class="click_list">4 thương vụ Arsenal nên hoàn tất trước khi TTCN khép lại</a>
                            <a class="click_list">Tức tốc ký tân binh thứ 5, M.U sẵn sàng nổ bom tấn 51 triệu bảng</a>
                            <a class="click_list">Evra: Ten Hag bị cầu thủ M.U đánh lừa</a>
                            <a class="click_list">Đội hình Chelsea đấu Leeds: Bộ 3 tân binh, cơ hội cho Gallagher?</a>
                            <a class="click_list">Dean Henderson tỏa sáng 3 trận liền sau khi rời M.U</a>

                        </marquee>
                    </div>
                </div>
                <div class="fr">
                    <ul class="list_social">
                        <li style="border: none;"><a>M.U</a></li>
                        <li><a>Arsenal </a></li>
                        <li><a>Chelsea </a></li>
                        <li><a>Liverpool </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>