<div class="title-type-news"><a href="#">{{title}}</a></div>
<div class="main-content">
    <div>
        <ng-container *ngFor="let news of arrData.slice(0,1)">
            <a href=""><img src="{{news.image}}" alt=""></a>
            <a href="">{{news.title}}</a>
            <p>{{news.description}}</p>
        </ng-container>
        </div>
    <ul class="custom_scroll">
        <li *ngFor="let news of arrData.slice(1,12)">
            <a href="">
                <img src="{{news.image}}" alt=""></a>
            <a href="">{{news.title}}</a>
        </li>
    </ul>
</div>