<div class="title-type-news"><a href="#">Tin chuyển nhượng</a></div>
<div class="main-content">
    <div>
        <a href=""><img src="https://media.bongda.com.vn/resize/343x220/files/son.le/2022/08/21/fah_1b4waaej4lt-2221.jpg" alt=""></a>
        <a href="">Chán nản De Gea, Man Utd muốn ký gắp thủ thành số 99</a>
        <p>Đội chủ sân Old Trafford cần phải bổ sung thêm nhân sự cho vị trí người gác đền sau màn trình diễn thảm hạo vừa rồi của De Gea.</p>    
    </div>
    <ul class="custom_scroll">
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
        <li>
            <a href="">
                <img src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/21/neymar-20-duoc-arsenal-theo-duoi-la-ai-200823.jpg" alt=""></a>
            <a href="">Neymar 2.0 được Arsenal theo đuổi là ai?</a>
        </li>
    </ul>
</div>