* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	display: block;
}
nav {
	ul {
		list-style: none;
	}
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
	vertical-align: middle;
}
.main {
	.header {
		height: 420px;
		background-color: #222934;
		position: relative;
		.header__img {
			position: relative;
			top: 20px;
			justify-content: space-between;
		}
	}
	.header__img {
		.header__img__icon {
			max-height: 65px;
			max-width: 160px;
			overflow: hidden;
			margin-left: 35px;
			.img {
				width: 100%;
				height: 100%;
			}
		}
	}
	.personal_contact__information {
		justify-content: space-around;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
	.touchuform {
		background-color: #eff4fd;
		height: 600px;
		margin-top: 100px;
		.getinrouch {
			font-size: 20px;
			padding-left: 60px;
			padding-top: 20px;
		}
		.gachchan {
			margin-left: 60px;
			.gachchan1 {
				width: 60px;
				height: 2px;
				background-color: #e9c02d;
			}
			.gachchan2 {
				width: 60px;
				height: 2px;
				background-color: #5472ab;
			}
		}
		.inputnamenademail {
			justify-content: space-around;
			#name__input {
				width: 40%;
				height: 50px;
			}
			#email__input {
				width: 40%;
				height: 50px;
			}
		}
		input {
			background-color: white;
		}
		.formnumberandsubuject {
			justify-content: space-around;
			#phone__input {
				width: 40%;
				height: 50px;
			}
			#subjuect__input {
				width: 40%;
				height: 50px;
			}
		}
		.yourmesseageheare {
			#mess__input {
				width: 90%;
				height: 100px;
				margin-left: 60px;
			}
		}
		.buttonsenndsubmid {
			background-color: #fbc02d;
			width: 100px;
			height: 50px;
			margin-left: 5%;
			.button {
				color: black;
			}
		}
	}
}
.flex {
	display: flex;
}
.header {
	.header__img {
		.header__img__share {
			position: absolute;
			top: 60px;
			right: 0%;
			align-items: center;
			justify-content: space-around;
			width: 360px;
		}
	}
	.header__content {
		width: 1000px;
		height: 65px;
		background-color: #313a47;
		color: white;
		justify-content: center;
		align-items: center;
		.menu {
		}
	}
	.header__contact {
		position: absolute;
		top: 70%;
		left: 40%;
		color: white;
		.contact__information {
			margin: 20px 0;
			font-size: 30px;
		}
		.contactlink {
			padding-left: 5px;
		}
	}
}
.header__img {
	.header__img__share {
		.imgshare {
			i {
				margin-right: 5px;
				background: #313a47;
				width: 35px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				border-radius: 50%;
				text-align: center;
				margin-left: 5px;
			}
			.img__calendare {
				color: white;
				margin-top: 10px;
				font-size: 14px;
				margin-left: 10px;
			}
		}
	}
}
.color {
	color: #e9c02d !important;
}
.header__img__share {
	.img__icon__internet {
		margin-left: 15px;
		.img__icon__cover {
			i {
				margin-right: 5px;
				width: 35px;
				height: 35px;
				font-size: 14px;
				line-height: 35px;
				text-align: center;
				color: white;
			}
			.hover__icon {
				&:hover {
					color: #e9c02d;
				}
			}
		}
	}
}
.header__content {
	.menu {
		.menu_menubar {
			display: inline-block;
			a {
				text-decoration: none;
				color: white;
				display: block;
				font-size: 14px;
				margin: 0 20px;
				&:hover {
					color: #e9c02d;
				}
			}
		}
	}
}
.header__contact {
	.contactlink {
		.contec__1 {
			padding: 0 5px;
		}
		.iconcontact {
		}
		.conte__2 {
			color: #e9c02d;
		}
	}
}
.personal_contact__information {
	.imformationfact {
		width: 250px;
		height: 230px;
		background-color: #05196f;
		text-align: center;
	}
}
.imformationfact {
	.icon_imfomation {
		background-color: #fbc02d;
		width: 60px;
		height: 60px;
		border-radius: 28px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		i {
			color: white;
			margin-top: 20px;
		}
	}
	h2 {
		color: white;
		font-size: 24px;
		margin-top: 40px;
	}
	.name__imformation {
	}
	.imformation__contact {
	}
}
.magintop20px {
	margin-top: 20px;
}
