<link rel="stylesheet" href="/AppTinTuc_Nhom9_LTFrontEnd_Thu2_Ca4_2022/frontend/src/assets/fontawesome-free-6.1.1-web/css/all.min.css">
<style>
    * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style :none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, select {
  vertical-align :middle;
}
.main {

}
.main .header{
    height: 420px;
    background-color: #222934;
    position: relative;
}
.main .header .header__img{
    position: relative;
    top: 20px;
    justify-content: space-between;
    
    
}
.flex{
    display: flex;
}

.main .header__img .header__img__icon{
    max-height: 65px;
    max-width: 160px;
   
    
    overflow: hidden;
}
.main .header__img .header__img__icon .img{
    width: 100%;
    height: 100%;
  
}
.main .header__img .header__img__icon{
    margin-left: 35px;
}

.header .header__img .header__img__share{
    position: absolute;
    top: 60px;
    right: 0%;
    align-items: center ;
    justify-content: space-around;
    width: 360px;

}
.header__img .header__img__share .imgshare{
    
   
}
.header__img .header__img__share .imgshare i{
    margin-right: 5px;
    background: #313a47;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
}
.header__img .header__img__share .imgshare .img__calendare{
    color: white;
   margin-top: 10px;
   font-size: 14px;
   margin-left: 10px;
   
}
     
   .color{
    color:  #e9c02d !important;
   }

.header__img__share .img__icon__internet {
    /* width: 130px; */
    margin-left: 15px;

}
.header__img__share .img__icon__internet .img__icon__cover {
    
}
.header__img__share .img__icon__internet .img__icon__cover i {
    margin-right: 5px;
    /* background: #313a47; */
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: white;
}
.header__img__share .img__icon__internet .img__icon__cover .hover__icon:hover{
   color:  #e9c02d;
}
.header .header__content{
    width: 1000px;
    height: 65px;
    background-color: #313a47;
    color: white;
}
.header .header__content{

    
    justify-content: center;
    align-items: center;
}
.header .header__content .menu{
    

}
.header__content .menu .menu_menubar{
display: inline-block;
}
.header__content .menu .menu_menubar a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0 20px;
}
.header__content .menu .menu_menubar a:hover{
    color:  #e9c02d;
}
.header .header__contact{
    position: absolute;
    top:70%;
    left: 40%;
    color: white;
    

}
.header .header__contact .contact__information{
margin: 20px 0;
font-size: 30px;

}
.header .header__contact .contactlink{
    padding-left: 5px;
}
.header__contact .contactlink .contec__1{
padding: 0 5px;
}
.header__contact .contactlink .iconcontact{
    
}
.header__contact .contactlink .conte__2{
    color:  #e9c02d;
}

.main .personal_contact__information{
   justify-content: space-around;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;

}
.personal_contact__information .imformationfact{
    width: 250px;
    height: 230px;
    background-color: #05196f;
    text-align: center;
   
}
.imformationfact .icon_imfomation {
background-color: #fbc02d ;
width: 60px;
height: 60px;
border-radius: 28px;
text-align: center;
margin-left: auto;
margin-right: auto;




}
.imformationfact h2{
    color: white;
    font-size: 24px;
    margin-top: 40px;
}
.imformationfact .icon_imfomation i {
color: white;
margin-top: 20px;

}
.imformationfact .name__imformation{

}
.imformationfact .imformation__contact{

}
.main .touchuform{
background-color: #eff4fd;
height: 600px;
margin-top: 100px;

}
.main .touchuform .getinrouch{
font-size: 20px;
padding-left: 60px;
padding-top: 20px;

}
.main .touchuform .gachchan{
margin-left: 60px;
}
.main .touchuform .gachchan .gachchan1{
    width: 60px;
    height: 2px;
    background-color:   #e9c02d;
}
.main .touchuform .gachchan .gachchan2{
    width: 60px;
    height: 2px;
    background-color:  #5472ab;
}
.main .touchuform .inputnamenademail{
justify-content: space-around;
}
.main .touchuform  input{
background-color: white;
}
.main .touchuform .inputnamenademail #name__input{
    width: 40%;
    height: 50px;
}
.main .touchuform .inputnamenademail #email__input{
    width: 40%;
    height: 50px;
}
.main .touchuform .formnumberandsubuject{
    justify-content: space-around;
}
.main .touchuform .formnumberandsubuject #phone__input{
    width: 40%;
    height: 50px;
}
.main .touchuform .formnumberandsubuject #subjuect__input{
    width: 40%;
    height: 50px;
}
.main .touchuform .yourmesseageheare #mess__input{
    width: 90%;
    height: 100px;
    margin-left: 60px;
    
}
.main .touchuform .buttonsenndsubmid{
background-color: #fbc02d;
width: 100px;
height: 50px;
margin-left: 5%;
}
.main .touchuform .buttonsenndsubmid .button{
    color: black;

}
.magintop20px{
    margin-top: 20px;
}</style>
 <div class="main">
    <div class="header">
        <div class="header__img flex">
            <div class="header__img__icon">
                <img class="img" src="/AppTinTuc_Nhom9_LTFrontEnd_Thu2_Ca4_2022/frontend/src/assets/img/khelo-logo.png" alt="">
            </div>
            <div class="header__content flex">
                <ul class="menu">
                    <li class="menu_menubar"><a href="">HOME</a></li>
                    <li class="menu_menubar "><a class="" href=""> CLUB DIRECTORY</a></li>
                    <li class="menu_menubar"><a href="">PAGES</a></li>
                    <li class="menu_menubar"><a href="">RESULTS</a></li>
                    <li class="menu_menubar"><a href="">POINT TABLE</a></li>
                    <li class="menu_menubar"><a href="">NEWS</a></li>
                    <li class="menu_menubar"><a href="" class="color">CONTACT</a></li>
                    <li class="menu_menubar"><a href="">
                        <i class="fa-brands fa-searchengin"></i>
                    </a></li>
                    <li class="menu_menubar"><a href="">
                        <i class="fa-solid fa-shop"></i>
                       
                      
                    </a></li>
                    <li class="menu_menubar"><a href="">
                        <i class="fa-solid fa-align-justify"></i>
                    </a></li>
                   
                   
                  
                </ul>
                
            </div>
        </div>
        <div class="header__contact">
            <h1 class="contact__information">CONTACT</h1>
            <p class="contactlink">
                <span class="contec__1">Home</span>
                <i class="fa-solid fa-link iconcontact"></i>
                <span class="conte__2"> Contact</span>
            </p>
        </div>
        
    </div>
    <div class="personal_contact__information flex">
        <div class="imformationfact">
            <div class="icon_imfomation">
               
                <i class="fa-solid fa-microphone"></i>
            </div>
            <div class="name__imformation">
<h2>
Call Us
</h2>
            </div>
            <div class="imformation__contact">
                <h2>
                    123456789 
                </h2>
            </div>
        </div>
        <div class="imformationfact">
            <div class="icon_imfomation">
               
                <i class="fa-solid fa-microphone"></i>
            </div>
            <div class="name__imformation">
<h2>
Mail Us
</h2>
            </div>
            <div class="imformation__contact">
                <h2>
                    support@rstheme.com
                </h2>
            </div>
        </div>  <div class="imformationfact">
            <div class="icon_imfomation">
               
                <i class="fa-solid fa-microphone"></i>
            </div>
            <div class="name__imformation">
<h2>
Fax
</h2>
            </div>
            <div class="imformation__contact">
                <h2>
                    +3301-341-0476
                </h2>
            </div>
        </div>  <div class="imformationfact">
            <div class="icon_imfomation">
               
                <i class="fa-solid fa-microphone"></i>
            </div>
            <div class="name__imformation">
<h2>
Address
</h2>
            </div>
            <div class="imformation__contact">
                <h2>
                    khelo, USA, 103
                </h2>
            </div>
        </div>
    </div>
    <div class="touchuform">
        <h1 class="getinrouch ">
            GET IN TOUCH
        </h1>
        <div class="gachchan flex">
            <div class="gachchan1"></div>
            <div class="gachchan2"></div>
        </div>
        <form name="form1" action="#" onsubmit="return validateform()" method="post">
            <div class="inputnamenademail magintop20px flex">
                <input type="text" name="name" id="name__input" placeholder="Name">
                <input type="text" name="email" id="email__input" placeholder="E-mail">
            </div>
            <div class="formnumberandsubuject magintop20px flex">
                <input type="text" name="phone" id="phone__input" placeholder="Phone number">
                <input type="text" name="subject" id="subjuect__input" placeholder="Subject">
            </div>
            <div class="yourmesseageheare magintop20px">
                <input type="text" name="mess" id="mess__input" placeholder="Your message here">
            </div>
            <div class="buttonsenndsubmid magintop20px ">
                <button class="button " type="submit">
Send messages
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/AppTinTuc_Nhom9_LTFrontEnd_Thu2_Ca4_2022/frontend/src/assets/js/contact.js"></script>