<footer class="footer">
    <div class="container bg_footer pkg">
        <div class="foooterall footerflex">
            <div class="footerleft">
                <img src="https://www.bongda.com.vn/templates/themes/images/logo_red.png" alt="" class="imgfooter">
                <p class="footer_comment">
                    Giấy phép: Số 29/GP-TTĐT của Bộ Thông tin - Truyền thông ngày 11/02/2010 và GP số 53/GP-STTTT của Sở
                    Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 4/8/2021.
                    Chịu trách nhiệm nội dung: Nhà báo, TS. Võ Danh Hải.
                    Bongda.com.vn giữ bản quyền nội dung trên website này. Cấm sao chép dưới mọi hình thức nếu không có
                    sự chấp thuận bằng văn bản.
                    Vận hành và phát triển bởi Công ty Cổ phần Yêu Thể Thao.
                </p>
            </div>
            <div class="footerleft">
                <div class="clwhite fontUTM f18 mar_bottom20">LIÊN HỆ:</div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-map-marker-alt"></i>
                    <div class="footerdiachi">Địa chỉ:</div>
                    <div class="footerthongtindiachi">
                        02 Đinh Tiên Hoàng, P.Đa Kao, Q.1, TP.HCM.
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-phone"></i>
                    <div class="footerdiachi">Điện thoại:</div>
                    <div class="footerthongtindiachi">
                        (08) 3910-5017.
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-fax"></i>
                    <div class="footerdiachi">Fax: </div>
                    <div class="footerthongtindiachi">
                        (08) 3910-5019.
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-comment-medical"></i>
                    <div class="footerdiachi">Quảng cáo: </div>
                    <div class="footerthongtindiachi">
                        0909 74 64 28.
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-envelope-square"></i>
                    <div class="footerdiachi"> Liên hệ quảng cáo:</div>
                    <div class="footerthongtindiachi">
                        quangcao@bongda.com.vn
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fab fa-telegram"></i>
                    <div class="footerdiachi">Toà soạn & hỗ trợ: </div>
                    <div class="footerthongtindiachi">
                        (08) 3910-5018.
                    </div>
                </div>
                <div class="footerinformation footerflex">
                    <i class="fas fa-envelope-square"></i>
                    <div class="footerdiachi">Email: </div>
                    <div class="footerthongtindiachi">
                        hotro@bongda.com.vn
                    </div>
                </div>
            </div>
            <div class="footerleft__">
                <div class="clwhite fontUTM f18 mar_bottom20">DOWNLOAD ỨNG DỤNG TRÊN MOBILE:</div>
                <div class="iconfooterapp footerflex ">
                    <div class="icon_appstore hoverfootrappstror">
                        <i class="fab fa-apple"></i>
                    </div>
                    <div class="icon_appstore  icon_appstore1 hoverfootrappstror2">
                        <i class="fab fa-android"></i>
                    <div class="col-md-6">
                        <div class="footer-share">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><span><i class="fa-brands fa-facebook-f"></i></span></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><span><i class="fa-brands fa-twitter"></i></span></a>
                                </li>
                                <li>
                                    <a href="# " target="_blank"><span><i class="fa-brands fa-linkedin-in"></i></span></a>
                                </li>
                                <li>
                                    <a href="# " target="_blank"><span><i class="fa-brands fa-square-google-plus"></i></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <p class="footerbanquyen">Bản quyền và phát triển bởi Công ty Cổ phần Yêu Thể Thao</p>
            </div>
        </div>
        </div>
    </div>
</footer>