
    <footer id="rs-footer" class=" rs-footer footer-style-1">
        <div class="newsletter-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="newsletter-inner">
                            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-40">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 newsletter-title">
                                        <span>
                                            Subscribe Our Newsletter
                                        </span>
                                        <p>
                                            Subscribe to our newsletter for getting regular updates.
                                        </p>
                                    </div>
                                    <div class="col-lg-6 col-md-12 newsletter-wrap">
                                        <div class="news-form-fields">
                                            <input type="submit" class="news-submit" value="Subscribe" />
                                            <input type="email" class="news-email" name="EMAIL"
                                                placeholder="EMAIL ADDRESS" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-sponsor">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-md-2">

                        <div class="recent-widget">

                            <div class="rs-sponsors recent-post-widget widget clearfix ">
                                <div class="row sponsors-grid">
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_8.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_7.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_6.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_5.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_4.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_3.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_2.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-4 sponsor-item sponsor-space">
                                        <div class="sponsors-img">

                                            <a class="img-wrap" href="#" target="_blank">
                                                <img width="300" height="200"
                                                    src="/assets/img/sponsor_1.png"
                                                    class="attachment-post-thumbnail size-post-thumbnail wp-post-image"
                                                    alt="" loading="lazy" /> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="copyright">
                            <p>&copy; 2021 <a href="#" >RS Theme</a>. All Rights
                                Reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-share">
                            <ul>
                                <li>
                                    <a href="#" target="_blank"><span><i class="fa-brands fa-facebook-f"></i></span></a>
                                </li>
                                <li>
                                    <a href="#" target="_blank"><span><i class="fa-brands fa-twitter"></i></span></a>
                                </li>
                                <li>
                                    <a href="# " target="_blank"><span><i class="fa-brands fa-linkedin-in"></i></span></a>
                                </li>
                                <li>
                                    <a href="# " target="_blank"><span><i class="fa-brands fa-square-google-plus"></i></span></a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </footer>

