
    .rs-footer {
        background-color: #222934;
        height: 360px;

        .newsletter-inner {
            background-color: #2b333f;
            padding: 40px 40px 30px;
            border-radius: 5px;
            margin-top: -92px;

            .newsletter-title {
                color: white;

                
                span {
                    font-size: 35px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }

            .newsletter-wrap {
                margin-top: 10px;

                input {
                    float: right;
                    display: inline-block;
                    border: none;
                }

                .news-submit {
                    padding: 17px 30px;
                    background-color: #FBC02D;
                    border-radius: 0 5px 5px 0;

                }
                :hover{
                    background-color: #f9b300;
                    transition: 0.5s;
                }

                .news-email {
                    padding: 17px;
                    width: 70%;
                    border-radius: 5px 0 0 5px;
                }

            }
        }

        .footer-sponsor {
            margin: 50px 0;

            img {
                width: 70%;
                height: auto;
                max-width: 100%;
            }
        }

        .footer-bottom {

            height: 60px;
            background-color: #313a47;
            line-height: 60px;

            .copyright {

                color: white;

                a {
                    color: #FBC02D;
                    font-weight: 500;
                    text-decoration: none;

                    :hover {
                        color: white;
                    }
                }
            }

            .footer-share {
                ul {
                    text-align: right;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: inline-block;

                        a {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            background-color: white;
                            text-align: center;
                            line-height: 30px;
                            border-radius: 50%;
                            margin-left: 5px;
                            color: #214790;

                        }
                        :hover {
                            background-color: #FBC02D;
                            transition: 0.3s;
                        }
                    }


                }
            }
        }

    }