<div class="right-content fr">

    <br>
    <div class="box_right" data-vr-zone="Category Page_Tin mới nhất">
        <div class="head_news"><a href="#">Tin mới nhất</a></div>
        <ul class="list_news_right pkg">
            <li class="first">
                <a href="#" class="thumb180 thumbblock" title="#"><img
                        src="https://media.bongda.com.vn/resize/300x180/files/phi.do/2022/08/22/zinchenko-1008.jpg"
                        alt="#" /></a>
                <div class="mar10">
                    <div class="time_comment mar_top7 mar_bottom10">
                        <span>2 phút </span>
                    </div><a data-vr-contentbox="top_title" href="#" title="#"><span>Arteta nêu bật 2 ưu
                            điểm của
                            Zinchenko</span></a>
                </div>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>
            <li>
                <a href="#" class="thumb140x90 thumbblock" title="Fabinho muốn thắng M.U hơn 5-0"><img
                        class=""
                        src="https://media.bongda.com.vn/resize/140x90/files/huy.phandang/2022/07/22/4165-0709.jpg"
                        alt="Fabinho muốn thắng M.U hơn 5-0" /></a>
                <div class="time_comment mar_top7 mar_bottom10"><span>2 phút </span> </div>
                <a href="#" class="f14" title="#"><span data-vr-headline>Fabinho
                        muốn thắng M.U hơn 5-0</span></a>
            </li>

        </ul>
        <div class="clearfix"></div>
    </div>
    

    <div class="box_right fl" data-vr-zone="Category Page_Tin đọc nhiều nhất">
        <div class="head_news" style="margin-top:20px;"><a>Tin đọc nhiều nhất</a></div>
        <ul class="list_news_right pkg">
            <li class="first">
                <a href="#" class="thumbblock"
                    title="Tân binh của Man Utd đã hoàn tất kiểm tra y tế"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/300x180/files/hai.phan/2022/08/22/15022197777906-0457.jpg"
                        alt="#" /></a>
                <div class="mar10">
                    <a href="#" class="f18 fontbold news_docnhieu" title="#"><span>Tân binh của Man Utd
                            đã hoàn tất kiểm tra y tế</span></a>
                    <div class="time_comment mar_top7 mar_bottom7">
                        <span>5 giờ </span>

                    </div>
                </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
            <li> <a href="#" class="thumbblock" title="#"><img class="news_docnhieu"
                        src="https://media.bongda.com.vn/resize/140x90/files/news/2022/08/22/james-garner-ngac-nhien-voi-man-united-052835.jpg"
                        alt="#" /></a>
                <a href="#" class="f14" title="James Garner ngạc nhiên với Man United"><span
                            data-vr-headline>James Garner ngạc nhiên với Man United</span></a>
                <div class="time_comment mar_top7 mar_bottom7"><span>4 giờ </span> </div>
            </li>
    
        </ul>
    </div>

</div>

