<body class="">
    <div class="grid1190 pkg">
        <div class="content_main pad20 pkg">
            <div class="pkg">
                <div class="left-content fl">
                    <div class="breadcump">
                        <li><a itemprop="url" href="/"><span itemprop="title">Trang chủ</span></a> » </li>
                        <li><a itemprop="url" href="#"><span itemprop="title"> Bóng đá Ý</span></a></li>
                    </div>
                    <div class="news-title-block">
                        <p class="title-1">Bóng đá Ý</p>
                        <div class="news-short-description f14">
                            <p></p>
                        </div>
                    </div>

                    <div class="right_child_content fr" data-vr-zone="Category Page_Bóng đá Ý">
                        <a class="thumbblock" href="#" title="#">
                            <div class="content_shadow">
                                <div class="f24">Mourinho đón cú sốc với Wijnaldum
                                </div>
                                <div class="time_comment">
                                    <span>06:37 22/08 </span>
                                </div>
                                <div class="sapo_news">Ngôi sao người Hà Lan gia nhập AS Roma theo
                                    dạng cho mượn từ PSG. Chỉ vài ngày sau khi cập bến, tiền vệ 31 tuổi đã đem đến
                                    cú sốc cho Jose Mourinho.</div>
                            </div>
                            <div class="bg_shadow"></div>
                            <img src="https://media.bongda.com.vn/resize/515x350/files/anh.nguyen/2022/08/22/300907519_583521803575315_7630364200492305531_n-0635.jpg"
                                alt="#" />
                        </a>

                        <ul class="list_top_news list_news_cate">

                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="clear"></div>
                                <div class="pkg">
                                    <a href="#" class="thumbblock thumb fl" title="#"><img
                                            src="https://media.bongda.com.vn/resize/240x145/files/news/2022/08/21/inter-milan-chiem-ngoi-dau-serie-a-150403.jpg"
                                            alt="Inter Milan chiếm ngôi đầu Serie A" /></a>
                                    <div class="info_list_top_news">
                                        <div class="time_comment text-left">
                                            <a href="#" class="title_list_top_news" title="#">Inter Milan chiếm ngôi đầu
                                                Serie A</a>
                                        </div>
                                        <div class="sapo_news txt_align_just">Thắng nhẹ nhàng 3-0 trước Spezia vào
                                            rạng sáng 21/8 (giờ Hà Nội) giúp Inter Milan giành trọn 6 điểm sau 2
                                            trận, vươn lên dẫn đầu Serie A mùa 2022/23.</div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <div class="paging">
                            <a class="active" href="./">1</a>
                            <a class="" href="p2">2</a>
                            <a class="" href="p3">3</a>
                            <a class="" href="p4">4</a>
                            <a class="" href="p5">5</a>
                            <a class="" href="p639"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <app-left-menu></app-left-menu>
                    
                </div>
                <app-right-menu></app-right-menu>
                
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>