
.main {

}
.main .header{
    height: 160px;
    background-color: #222934;
    position: relative;
}
.main .header .header__img{
    position: relative;
    
}
.flex{
    display: flex;
}

.main .header__img .header__img__icon{
    max-height: 65px;
    max-width: 160px;
    position: absolute;
    top: 50px;
    
    overflow: hidden;
}
.main .header__img .header__img__icon .img{
    width: 100%;
    height: 100%;
  
}
.main .header__img .header__img__icon{
    margin-left: 35px;
}

.header .header__img .header__img__share{
    position: absolute;
    top: 60px;
    right: 0%;
    align-items: center ;
    justify-content: space-around;
    width: 360px;

}
.header__img .header__img__share .imgshare{
    
   
}
.header__img .header__img__share .imgshare i{
    margin-right: 5px;
    background: #313a47;
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px;
}
.header__img .header__img__share .imgshare .img__calendare{
    color: white;
   margin-top: 10px;
   font-size: 14px;
   margin-left: 10px;
   
}
     
    

.header__img__share .img__icon__internet {
    /* width: 130px; */
    margin-left: 15px;

}
.header__img__share .img__icon__internet .img__icon__cover {
    
}
.header__img__share .img__icon__internet .img__icon__cover i {
    margin-right: 5px;
    /* background: #313a47; */
    width: 35px;
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: white;
}
.header__img__share .img__icon__internet .img__icon__cover .hover__icon:hover{
   color:  #e9c02d;
}
.header .header__content{
    width: 1200px;
    height: 65px;
    background-color: #313a47;
    color: white;
}
.header .header__content{

    position: absolute;
    top :80%;
    left: 4%;
    justify-content: center;
    align-items: center;
}
.header .header__content .menu{
    width: 80%;

}
.header__content .menu .menu_menubar{
display: inline-block;
}
.header__content .menu .menu_menubar a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
    margin: 0 20px;
}
.header__content .menu .menu_menubar a:hover{
    color:  #e9c02d;
}